{% extends "templates/layouts/settings.html" %}

{% block subcontent %}
<div class="tab-pane active" id="password">

  <div class="widget">
    <div class="widget-header">
      <span class="title">修改密码</span>
    </div>
    <div class="widget-content form-container">
      <form class="form-horizontal" id="ajaxfileupload" method="post"
        action="/settings/password">
        {% anti-forgery-field %}
        <div class="control-group">
          <label class="control-label">Current password:</label>
          <div class="controls">
            <input type="password" name="current_password" class="required" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">New password:</label>
          <div class="controls">
            <input type="password" name="password" class="required" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Verify password:</label>
          <div class="controls">
            <input type="password" name="user_password_confirmation"
              class="required" />
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary" id="btn-fileupload">Save
            changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock subcontent %}
