<div class="item-wrap">
  <a class="item" href="#" data-toggle="dropdown"> <span class="item-icon"><i
      class="icon-envelope"></i></span> <span class="item-label">Messages</span> <span
    class="item-count">16</span>
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-item-wrap">
      <ul>
        <li><a href="#"> <span class="thumbnail"><img
              src="/public/mooncake/assets/images/pp.jpg" alt=""></span> <span
            class="details"> <strong>John Doe</strong><br> Hello, do
              you have time to go out tomorrow? <span class="time">13
                minutes ago</span>
          </span>
        </a></li>
        <li><a href="#"> <span class="thumbnail"><img
              src="/public/mooncake/assets/images/pp.jpg" alt=""></span> <span
            class="details"> <strong>Jane Roe</strong><br> Hey, the
              reports said that you were... <span class="time">27 minutes
                ago</span>
          </span>
        </a></li>
        <li><a href="#"> <span class="thumbnail"><img
              src="/public/mooncake/assets/images/pp.jpg" alt=""></span> <span
            class="details"> <strong>Billy John</strong><br> Can I
              borrow your new camera for taking... <span class="time">About
                an hour ago</span>
          </span>
        </a></li>
      </ul>
    </li>
    <li><a href="mail.html">View all messages</a></li>
  </ul>
</div>