<nav id="navigation" class="collapse">
<ul>
{% if menus %}
{% for menu in menus %}
  <li>
    <span title="{{description}}"> <i class="icon-home"></i> 
      <span class="nav-title">{{menu.name}}</span>
    </span>
    <ul class="inner-nav">
      {% if menu.children %}
        {% for item in menu.children %}
        <li><a href="{{item.funcpoint.url}}" target="{{item.attrs.target}}"><i class="{{item.attrs.classname}}"></i> {{item.name}}</a></li>
        {% endfor %}
      {% endif %}
    </ul>
  </li>
{% endfor %} 
{% endif %}
</ul>
</nav>
