<div class="item-wrap">
  <a class="item" href="#" data-toggle="dropdown"> <span class="item-icon"><i
      class="icon-exclamation-sign"></i></span> <span class="item-label">Notifications</span>
    <span class="item-count">10</span>
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-item-wrap">
      <ul>
        <li><a href="#"> <span class="thumbnail"><img
              src="/public/mooncake/assets/images/pp.jpg" alt=""></span> <span
            class="details"> <strong>John Doe</strong> commented on your
              photo <span class="time">13 minutes ago</span>
          </span>
        </a></li>
        <li><a href="#"> <span class="thumbnail"><img
              src="/public/mooncake/assets/images/pp.jpg" alt=""></span> <span
            class="details"> <strong>Jane Roe</strong> commented on your
              photo <span class="time">27 minutes ago</span>
          </span>
        </a></li>
        <li><a href="#"> <span class="thumbnail"><img
              src="/public/mooncake/assets/images/pp.jpg" alt=""></span> <span
            class="details"> <strong>Billy John</strong> commented on
              your photo <span class="time">43 minutes ago</span>
          </span>
        </a></li>
      </ul>
    </li>
    <li><a href="#">View all notifications</a></li>
  </ul>
</div>