<div id="user-info" class="clearfix">
  <span class="info">Welcome <span class="name">{{user.type-name}}用户:{{user.username}}</span></span>
  <div class="avatar">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown"> <img
      src="/public/mooncake/assets/images/pp.jpg" alt="Avatar">
    </a>
    <ul class="dropdown-menu pull-right">
      <li><a href="/settings"><i class="icol-user"></i> Settings</a></li>
      <li><a href="/settings/password"><i class="icol-user"></i> 修改密码</a></li>   
      <li><a href="#"><i class="icol-layout"></i> My Invoices</a></li>
      <li><a href="/admin/envinfo"><i class="icol-layout"></i> Admin</a></li>
      <li class="divider"></li>
      <li><a href="/logout"><i class="icol-key"></i> Logout</a></li>
    </ul>
  </div>
</div>