<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Bootstrap Stylesheet -->
<link rel="stylesheet" href="/public/mooncake/bootstrap/css/bootstrap.min.css" media="all">
<!-- Uniform Stylesheet -->
<link rel="stylesheet" href="/public//mooncake/plugins/uniform/css/uniform.default.css"
  media="screen">
<!-- Plugin Stylsheets first to ease overrides -->
<!-- End Plugin Stylesheets -->
<link rel="stylesheet" href="/public/libs/pnotify/jquery.pnotify.default.css" media="screen">
<!-- Main Layout Stylesheet -->
<link rel="stylesheet" href="/public//mooncake/assets/css/fonts/icomoon/style.css" media="screen">
<link rel="stylesheet" href="/public//mooncake/plugins/zocial/zocial.css" media="screen">
{% block more-css %}{% endblock%}
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="/public/js/libs/html5.js"></script>
<![endif]-->
</head>
<body>
  {% block content %} Some content {% endblock %}
  <script src="/public/js/base.js"></script>
  {% block more-js %}{% endblock%}
</body>
</html>
