<div>
  <img src="/captcha" id="i-captcha">
  <button class="btn btn-primary" id="btn-refresh-captcha">刷新</button>
</div>
<div>
  <form id="form-captcha" action="/examples/va-captcha" method="post">
    <input type="text" id="input-captcha" name="captcha" />
    <button class="btn" id="btn-check">验证</button>
  </form>
</div>
{{#with-js}}
<script>
  $(function() {
    function refresh_captcha() {
      var $captcha = $("#i-captcha");
      var url = "/captcha";
      $captcha.attr("src", url + "?" + new Date().getTime());
    }

    $('#btn-refresh-captcha').click(refresh_captcha);

    $('#form-captcha').ajaxForm({
      dataType : 'json',
      success : function(result) {
        alert(JSON.stringify(result));
        refresh_captcha();
        $('#input-captcha').val('');
      }
    });
  });
</script>
{{/with-js}}
