<div id="main-content">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#ajax" data-toggle="tab">Ajax</a></li>
    <li><a href="#cljs" data-toggle="tab">ClojureScript</a></li>
    <li><a href="#snippet" data-toggle="tab">Snippet</a></li>
    <li><a href="#ansj" data-toggle="tab">分词</a></li>
    <li><a href="#captcha" data-toggle="tab">验证码</a></li>
    <li><a href="#i18n" data-toggle="tab">i18n</a></li>
    <li><a href="#match" data-toggle="tab">match</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="ajax">{{> templates/examples/_ajax.html}}</div>
    <div class="tab-pane" id="cljs">{{> templates/examples/_cljs.html}}</div>
    <div class="tab-pane" id="ansj">{{> templates/examples/_ansj.html}}</div>
    <div class="tab-pane" id="snippet">{{snippet-hello-snippet}}</div>
    <div class="tab-pane" id="captcha">{{> templates/examples/_captcha.html}}</div>
    <div class="tab-pane" id="i18n">{{> templates/examples/_i18n.html}}</div>
    <div class="tab-pane" id="match">{{> templates/examples/_match.html}}</div>
  </div>
</div>
